#blizzard{
    height: 40px;
}
#felso_navbar{
    height: 40px;
}
.capitalize {
    text-transform: capitalize;
}

.logo {
    display: inline-block;
    width: 10%;
    height: 50px;
    margin-right: 20px;
}
.grey {
    color: rgba(255,255,255,.7);
}
.grey:hover {
    transition: all .25s cubic-bezier(.23,1,.32,1) 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 0s;
    background-image: -webkit-linear-gradient(top,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
    background-size: 1em 2.5em;
    color: #f8b700;
    display: inline-block;    
    line-height: 1.5em;
    position: relative;
    z-index: auto;
    background-position: center 0; 
}

/* transition: all .25s cubic-bezier(.23,1,.32,1) 0s;
transition-property: all;
transition-duration: 0.25s;
transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
transition-delay: 0s;
background-image: -webkit-linear-gradient(top,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
background-size: 1em 2.5em;
color: #f8b700;
display: inline-block;    
line-height: 1.5em;
position: relative;
z-index: auto;
background-position: center 0; */

/* navbar bg color:
background-color: #211510
*/